.search-bar-container{
  background-color: rgb(0, 0, 0);
  padding: 10px 50px;
}

.search-bar{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.esquerda{
  color: white;
  font-size: 30px;
}

.meio{
  display: flex;
  align-items: center;
  flex: 1;
  max-width: 700px;
  margin-left: 100px;
  margin-right: 100px;
}

.meio input{
  border-radius: 5px;
  border: none;
  padding: 10px;
  font-size: 15px;
  width: 100%;
}

.perfil{
  margin-right: 20px;
}

.perfil,
.carrinho{
  background-color: rgba(255, 255, 255, 0);
  border: none;
  cursor: pointer;
}


.perfil:active,
.carrinho:active{
  opacity: 0.6
}


.direita img{
  height: 35px;
}

.pesquisa{
  background-color: gray;
  border: solid 1px gray;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  padding: 3px 10px;
  margin-left: -45px;
  cursor: pointer;
}

.pesquisa:active{
  opacity: 0.6;
}

.lupa{
  height: 20px;
}

.categorias{
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.categorias button{
  background-color: rgba(240, 248, 255, 0);
  border: none;
  color: white;
  cursor: pointer;
}

.categorias button:active{
  opacity: 0.6;
}